* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    background-color: whitesmoke;
}

.header {
    background-color: #D9F1F1;
    display: flex;
    flex-direction: row;
    min-height: 10vh;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.titulo {
    font-size: xx-large;
    color: #74959a;
    padding: 1rem;
    width: 60%;
}

.links {
    padding: .5rem;
    margin: 1rem;
    width: 30%;
    border: 1px wheat dashed;
    border-radius: 10px;
    background-color: white;
    color: #8dc2ca;
}

.iconoCarro {
    height: 40px;
    margin: 1rem;
    
}

.bienvenida{
    text-align: center;
    margin: 1rem;
    color: #eec18b;
}

.cardContainer{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
    align-items: center;
    justify-content: space-around;
}
.card{
    border:5px solid #74959a;
    width: 15rem;
    background-color: #d4f4f7;
    margin: 1rem;
    color: #65888d;
    text-align: center;
}

.detailContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
    justify-content: space-around;

    margin: 2rem;
    color: #65888d;
    text-align: center;
}

.detailProduct{
    display: flex;
    flex-direction: column;
    margin: auto;
    border:5px solid #74959a;
    background-color: #d4f4f7;
    padding: 2rem;
}